@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

@font-face {
  font-family: 'BeyondFont';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('fonts/BeyondWonderland.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

html {
  font-size: 10px;
}

body {
  text-align: center;
  background-color: #bbded6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://media.giphy.com/media/t7Qb8655Z1VfBGr5XB/giphy.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

header:hover h1 {
  transform: scale(1.2);
  transition: ease 3s;
  cursor: pointer;
}

main {
  width: 100%;
  margin: auto;
}

h1 {
  color: #d54d7b;
  font-family: BeyondFont;
  font-size: 5rem;
  letter-spacing: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 10px 10px #fff;
}

h1:last-of-type {
  text-transform: uppercase;
}

h1:hover {
  text-shadow: 0 0 5rem #ff0000, 0 0 15px #0000ff;
  transition: all 1s;
}

h2 {
  font-family: 'Courgette', cursive;
  color: #2F1728;
  margin-top: 2rem;
  letter-spacing: 0.6rem;
  padding: 1%;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

h2:hover {
  letter-spacing: 1.4rem;
  transition: ease-in-out 1s;
}

h3 {
  font-family: 'Courgette', cursive;
  color: #5d5b6a;
  padding: 0.4rem 0.4rem;
  font-size: 1.4rem;
  text-align: center;
}

ul {
  list-style: none;
}

img {
  width: 60%;
  margin: 1rem auto 0 auto;
  padding: .5rem 1rem;
}

img:hover {
  transform: rotateY(1080deg);
  transition: all 5s;
}

p {
  text-align: justify;
  font-size: 1.3rem;
  padding: 1rem;
  color: #7c677f;
}

.grid-item:hover {
  border-radius: .8rem;
  -webkit-box-shadow: 3px 3px 5px 6px #333;
  -moz-box-shadow: 3px 3px 5px 6px #333;
  box-shadow: 3px 3px 5px 6px #333;
}

.grid-item {
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(72, 214, 15, 0.12), 0 10px 20px rgba(45, 4, 53, 0.24);
  transition: all .4s cubic-bezier(.25, .8, .25, 1);
  border-radius: .8rem;
}


/* float section */

#grid-floats li {
  margin: 4% 3%;
  border: 3px solid #333;
  width: 44%;
  float: left;
  overflow: hidden;
  height: 36rem;
}

#grid-floats li:first-child,
#grid-floats li:last-child {
  border: 2px solid #333;
  float: left;
  margin: 0 3%;
  width: 94%;
}

#grid-floats::after {
  content: '';
  display: block;
  clear: both;
}


/* flex section */

#grid-flex {
  justify-content: center;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

#grid-flex li {
  padding: .5rem;
  border: 3px solid #333;
  flex: 1 1 42%;
  list-style-type: none;
  margin: 3%;
}

#grid-flex li:first-child,
#grid-flex li:last-child {
  flex-basis: 100%;
}


@media (min-width: 600px) {
  html {
    font-size: 13px;
  }

  h1 {
    font-size: 8rem;
  }

  #grid-floats li,
  #grid-floats li:last-child {
    width: 29.3%;
    height: 35rem;
    margin: 2%;
  }

  #grid-floats li:first-child,
  #grid-floats li:nth-child(2) {
    width: 46%;
    margin: 2%;
    height: 35rem;
  }

  #grid-flex li:first-child,
  #grid-flex li:nth-child(2) {
    flex-basis: 46%;
    margin: 2%;
  }

  #grid-flex li,
  #grid-flex li:last-child {
    flex-basis: 29%;
    margin: 2%;
  }

  p {
    padding: .5rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  h1 {
    top: 60%;
    left: 60%;
  }

  p {
    line-height: 1rem;
  }

  #grid-floats li,
  #grid-floats li:nth-child(2),
  #grid-floats li:last-child {
    width: 23%;
    height: 35rem;
    margin: 1%;
  }

  #grid-floats li:first-child {
    width: 48%;
    margin: 1%;
    height: 35rem;
  }

  #grid-floats li:nth-last-child(3) {
    margin-left: 13.5%;
  }

  #grid-flex li:first-child {
    flex-basis: 48;
    margin: 1%;
  }

  #grid-flex li,
  #grid-flex li:nth-child(2),
  #grid-flex li:nth-last-child(1) {
    flex-basis: 23%;
    margin: 1%;
  }

  #grid-flex li:nth-last-child(1),
  #grid-flex li:nth-last-child(2),
  #grid-flex li:nth-last-child(3) {
    flex-basis: 23%;
    margin: 1%;
  }
}


/* there was a little bit overflow, that solution looked better :) */

@media (min-width: 1400px) {
  #grid-floats .grid-item p {
    line-height: 2rem;
    margin-top: 1rem;
  }
}